<footer class="footer">
<small>
This <a href="http://www.railstutorial.org/"> Sample App</a>
<a href="https://www.linkedin.com/in/aditya-maheshwari-650759194/">Design by Aditya Maheshwari</a>
</small>
<nav>
<ul>
<li><%= link_to "About ", static_pages_about_path %> </li>
<li><%= link_to "Contact ", static_pages_contact_path %> </li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>